<form action="/records" method="POST">
  <input type="text" placeholder="name" name="name">
  <input type="date" placeholder="date" name="date">
  <input type="number" placeholder="number" name="amount">
  <button type="submit">新增支出</button>
</form>